<nav class="navbar" style="float: left; width: 20%; min-height: 100vh; background-color: grey;">
    <ul style="padding-top: 65%; padding-left: 25%; list-style-type: none;">
        <li><a href="/"><h1>Homepage</h1></a></li>
        <li><a href="/booklist"><h1>Books</h1></a></li>
        <li><a href="/admin"><h1>Admin</h1></a></li>
        <li><a href="/addnewbook"><h1>Add Book</h1></a></li>
    </ul>
</nav>
