<div class="main" style="float: right; width: 80%; min-height: 100vh;">
    <!-- Inside a nested container add the images of the three books. Use <a href> tags to set the images and accompanying text to become links.-->
    <div style="margin: 5%;">
    <a href="books/6383ae1ee91cba9e14287274"><img src="AtomicHabits.jpg" alt="Atomic Habits" style="width:10%; vertical-align: middle;"></a>&nbsp
    <span><a href="books/6383ae1ee91cba9e14287274">Atomic Habits by James Clear</a></span><br><br>
    <a href="books/6383d124f0cf5aa115cdcfd6"><img src="Frankenstein.jpg" alt="Frankenstein" style="width: 10%;  vertical-align: middle"></a>&nbsp
    <span><a href="books/6383d124f0cf5aa115cdcfd6">Frankenstein by Mary Shelley</a></span><br><br>
    <a href="books/6383ef75f0cf5aa115cdcfd8"><img src="MazeRunner.jpg" alt="Maze Runner" style="width: 10%;  vertical-align: middle"></a>&nbsp
    <span><a href="books/6383ef75f0cf5aa115cdcfd8">The Maze Runner by James Dashner</a></span>
    </div>
</div>