<div class="main" style="float: right; width: 80%; min-height: 100vh;">
  <h1 style="text-align:center; margin-top: 5%;">Mathew's Library</h1>
  <!--Create a container within the first one where some text will be displayed.-->
  <div>
      <p style="text-align: center; margin-top: 10%; font-size: large;">Welcome to Mathew's library.<br> Feel free to look around by using
      the links provided in the navigation bar on the left-hand side. </p>
  </div>
</div>